:root {
    --bg-color: rgb(10, 10, 10);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    background: var(--bg-color);
    color: var(--text-color);
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

#card {
    width: 64vw;
    padding: 4vh 3vw;
    height: 92vh;
    display: inline-block;
    padding-left: 33vw;
    color: #fff;
}

#profile {
    width: 24vw;
    padding: 4vh 3vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background: var(--background-image) center center;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: fixed;
    color: #fff !important;
}

#profile div {
    font-weight: bold;
    margin: 1.5vh 0px;
}

#profile_picture {
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%!important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

#me {
    font-size: 18px;
}

#name span {
    font-size: 24px;
}

#name a {
    font-size: 18px;
}

#me span {
    margin: 1vh 0px;
}

#me a, #name a {
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
}

.socials_link {
    color: #fff;
    text-decoration: none;
    margin: 3vh 0px !important;
}

#description {
    font-size: 18px;
}

#hello_world {
    margin: 2vh 0px;
    padding: 4vh 0px !important;
}
#hello_world span{
    text-align: center;
    display: block;
    font-size: 32pt;
}

/* .terminal {
    margin-left: -15px;
} */

#hello_world h1 {
    display: block;
    text-align: center;
}

.terminal{
    margin: auto;
    width: 80ch;
    height: 24ch;
    overflow: hidden;
    display: Sblock;
    border-radius: 1ch;
}
.terminal-bar{
    padding: 15px 0;
    background-color: #2E3436;
    text-align: center;
}
.terminal-body{
    padding-bottom: 24ch;
    background-color: #000000;
    opacity: 0px;
    text-align: left;
}
.terminal-body span{
    color: #3CFF00;
    font-weight: bold;
}

@media (max-width: 800px) {
    #profile {
        width: 90vw;
        padding: 4vh 5vw;
        height: 60vh;
        text-align: center;
        position: relative;
    }
    #profile_picture {
        width: 120px;
        height: 120px;
        min-width: 120px;
        min-height: 120px;
        max-width: 120px;
        max-height: 120px;
        margin: 0px auto !important;
    }
    #card {
        width: 90vw;
        padding: 4vh 5vw;
        height: auto;
        display: inline-block;
        padding-left: 5vw;
    }
    .terminal{
        margin: auto;
        width: 30ch;
        height: 15ch;
        overflow: hidden;
        display: block;
        border-radius: 1ch;
    }
    /* #hello_world {
        margin: 0px;
    } */
}
